<?php

/**
 * MarketDataApi
 * PHP version 8.1.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */

/**
 * Prediction Trading REST API.
 *
 * Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.22.0
 */
/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Binance\Client\W3WPrediction\Api;

use Binance\Client\W3WPrediction\Model\GetMarketDetailResponse;
use Binance\Client\W3WPrediction\Model\ListPredictionCategoriesResponse;
use Binance\Client\W3WPrediction\Model\ListPredictionMarketsResponse;
use Binance\Client\W3WPrediction\Model\MarketSearchResponse;
use Binance\Client\W3WPrediction\Model\OrderBy;
use Binance\Client\W3WPrediction\Model\QueryLastTradePriceResponse;
use Binance\Client\W3WPrediction\Model\QueryOrderBookResponse;
use Binance\Client\W3WPrediction\Model\SortBy;
use Binance\Common\ApiException;
use Binance\Common\Auth\SignerFactory;
use Binance\Common\Auth\SignerInterface;
use Binance\Common\CommonUtils;
use Binance\Common\Configuration\ClientConfiguration;
use Binance\Common\Dtos\ApiResponse;
use Binance\Common\HeaderSelector;
use Binance\Common\HttpClient;
use Binance\Common\ObjectSerializer;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\Request;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;

/**
 * MarketDataApi Class Doc Comment.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */
class MarketDataApi
{
    /** @var string[] */
    public const contentTypes = [
        'getMarketDetail' => ['application/x-www-form-urlencoded'],
        'listPredictionCategories' => ['application/x-www-form-urlencoded'],
        'listPredictionMarkets' => ['application/x-www-form-urlencoded'],
        'marketSearch' => ['application/x-www-form-urlencoded'],
        'queryLastTradePrice' => ['application/x-www-form-urlencoded'],
        'queryOrderBook' => ['application/x-www-form-urlencoded'],
    ];
    private const HAS_TIME_UNIT = false;

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * Summary of clientConfig.
     *
     * @var ClientConfiguration
     */
    protected $clientConfig;

    /**
     * Summary of signer.
     *
     * @var SignerInterface
     */
    protected $signer;

    /**
     * userAgent for HTTP requests.
     *
     * @var string
     */
    private $userAgent;

    public function __construct(
        ?ClientConfiguration $clientConfig = new ClientConfiguration(),
        ?ClientInterface $client = null,
        ?HeaderSelector $selector = null,
    ) {
        $this->clientConfig = $clientConfig;
        $this->client = $client ?: new HttpClient($clientConfig);
        $this->headerSelector = $selector ?: new HeaderSelector();
        if (!empty($clientConfig->getSignatureConfiguration())) {
            $this->signer = SignerFactory::getSigner($clientConfig->getSignatureConfiguration());
        }
        $this->userAgent = CommonUtils::getUserAgent('w3w-prediction');
    }

    /**
     * Operation getMarketDetail.
     *
     * Get Market Detail
     *
     * @param int $marketTopicId Market topic ID. Must be &gt; 0 (required)
     *
     * @return ApiResponse<GetMarketDetailResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function getMarketDetail($marketTopicId): ApiResponse
    {
        return $this->getMarketDetailWithHttpInfo($marketTopicId);
    }

    /**
     * Operation getMarketDetailWithHttpInfo.
     *
     * Get Market Detail
     *
     * @param int $marketTopicId Market topic ID. Must be &gt; 0 (required)
     *
     * @return ApiResponse<GetMarketDetailResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function getMarketDetailWithHttpInfo($marketTopicId): ApiResponse
    {
        $request = $this->getMarketDetailRequest($marketTopicId);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\GetMarketDetailResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\GetMarketDetailResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\GetMarketDetailResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'getMarketDetail'.
     *
     * @param int $marketTopicId Market topic ID. Must be &gt; 0 (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function getMarketDetailRequest($marketTopicId)
    {
        $contentType = self::contentTypes['getMarketDetail'][0];

        // verify the required parameter 'marketTopicId' is set
        if (null === $marketTopicId || (is_array($marketTopicId) && 0 === count($marketTopicId))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $marketTopicId when calling getMarketDetail'
            );
        }
        if ($marketTopicId < 1) {
            throw new \InvalidArgumentException('invalid value for "$marketTopicId" when calling MarketDataApi.getMarketDetail, must be bigger than or equal to 1.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/market/detail';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $marketTopicId,
            'marketTopicId', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listPredictionCategories.
     *
     * List Prediction Categories
     *
     * @return ApiResponse<ListPredictionCategoriesResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function listPredictionCategories(): ApiResponse
    {
        return $this->listPredictionCategoriesWithHttpInfo();
    }

    /**
     * Operation listPredictionCategoriesWithHttpInfo.
     *
     * List Prediction Categories
     *
     * @return ApiResponse<ListPredictionCategoriesResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function listPredictionCategoriesWithHttpInfo(): ApiResponse
    {
        $request = $this->listPredictionCategoriesRequest();

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\ListPredictionCategoriesResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\ListPredictionCategoriesResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\ListPredictionCategoriesResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'listPredictionCategories'.
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function listPredictionCategoriesRequest()
    {
        $contentType = self::contentTypes['listPredictionCategories'][0];

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/category/list';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listPredictionMarkets.
     *
     * List Prediction Markets
     *
     * @param null|string  $l1Category Level-1 category filter (optional)
     * @param null|string  $l2Category Level-2 category filter (optional)
     * @param null|SortBy  $sortBy     Sort field. Enum: &#x60;RECOMMENDED&#x60;, &#x60;VOLUME&#x60;, &#x60;PARTICIPANTS&#x60;, &#x60;CREATED_TIME&#x60;, &#x60;END_DATE&#x60; (optional)
     * @param null|OrderBy $orderBy    Sort direction. Enum: &#x60;ASC&#x60;, &#x60;DESC&#x60; (optional)
     * @param null|int     $offset     Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int     $limit      Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     *
     * @return ApiResponse<ListPredictionMarketsResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function listPredictionMarkets($l1Category = null, $l2Category = null, $sortBy = null, $orderBy = null, $offset = null, $limit = null): ApiResponse
    {
        return $this->listPredictionMarketsWithHttpInfo($l1Category, $l2Category, $sortBy, $orderBy, $offset, $limit);
    }

    /**
     * Operation listPredictionMarketsWithHttpInfo.
     *
     * List Prediction Markets
     *
     * @param null|string  $l1Category Level-1 category filter (optional)
     * @param null|string  $l2Category Level-2 category filter (optional)
     * @param null|SortBy  $sortBy     Sort field. Enum: &#x60;RECOMMENDED&#x60;, &#x60;VOLUME&#x60;, &#x60;PARTICIPANTS&#x60;, &#x60;CREATED_TIME&#x60;, &#x60;END_DATE&#x60; (optional)
     * @param null|OrderBy $orderBy    Sort direction. Enum: &#x60;ASC&#x60;, &#x60;DESC&#x60; (optional)
     * @param null|int     $offset     Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int     $limit      Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     *
     * @return ApiResponse<ListPredictionMarketsResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function listPredictionMarketsWithHttpInfo($l1Category = null, $l2Category = null, $sortBy = null, $orderBy = null, $offset = null, $limit = null): ApiResponse
    {
        $request = $this->listPredictionMarketsRequest($l1Category, $l2Category, $sortBy, $orderBy, $offset, $limit);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\ListPredictionMarketsResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\ListPredictionMarketsResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\ListPredictionMarketsResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'listPredictionMarkets'.
     *
     * @param null|string  $l1Category Level-1 category filter (optional)
     * @param null|string  $l2Category Level-2 category filter (optional)
     * @param null|SortBy  $sortBy     Sort field. Enum: &#x60;RECOMMENDED&#x60;, &#x60;VOLUME&#x60;, &#x60;PARTICIPANTS&#x60;, &#x60;CREATED_TIME&#x60;, &#x60;END_DATE&#x60; (optional)
     * @param null|OrderBy $orderBy    Sort direction. Enum: &#x60;ASC&#x60;, &#x60;DESC&#x60; (optional)
     * @param null|int     $offset     Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int     $limit      Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function listPredictionMarketsRequest($l1Category = null, $l2Category = null, $sortBy = null, $orderBy = null, $offset = null, $limit = null)
    {
        $contentType = self::contentTypes['listPredictionMarkets'][0];

        if (null !== $offset && $offset < 0) {
            throw new \InvalidArgumentException('invalid value for "$offset" when calling MarketDataApi.listPredictionMarkets, must be bigger than or equal to 0.');
        }

        if (null !== $limit && $limit > 100) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling MarketDataApi.listPredictionMarkets, must be smaller than or equal to 100.');
        }
        if (null !== $limit && $limit < 1) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling MarketDataApi.listPredictionMarkets, must be bigger than or equal to 1.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/market/list';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $l1Category,
            'l1Category', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $l2Category,
            'l2Category', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $sortBy,
            'sortBy', // param base name
            'SortBy', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $orderBy,
            'orderBy', // param base name
            'OrderBy', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $offset,
            'offset', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $limit,
            'limit', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation marketSearch.
     *
     * Market Search
     *
     * @param string   $query Search keyword. Not blank (required)
     * @param null|int $topK  Max number of results to return. Default &#x60;20&#x60;, range 1–50 (optional)
     *
     * @return ApiResponse<MarketSearchResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function marketSearch($query, $topK = null): ApiResponse
    {
        return $this->marketSearchWithHttpInfo($query, $topK);
    }

    /**
     * Operation marketSearchWithHttpInfo.
     *
     * Market Search
     *
     * @param string   $query Search keyword. Not blank (required)
     * @param null|int $topK  Max number of results to return. Default &#x60;20&#x60;, range 1–50 (optional)
     *
     * @return ApiResponse<MarketSearchResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function marketSearchWithHttpInfo($query, $topK = null): ApiResponse
    {
        $request = $this->marketSearchRequest($query, $topK);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\MarketSearchResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\MarketSearchResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\MarketSearchResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'marketSearch'.
     *
     * @param string   $query Search keyword. Not blank (required)
     * @param null|int $topK  Max number of results to return. Default &#x60;20&#x60;, range 1–50 (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function marketSearchRequest($query, $topK = null)
    {
        $contentType = self::contentTypes['marketSearch'][0];

        // verify the required parameter 'query' is set
        if (null === $query || (is_array($query) && 0 === count($query))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $query when calling marketSearch'
            );
        }

        if (null !== $topK && $topK > 50) {
            throw new \InvalidArgumentException('invalid value for "$topK" when calling MarketDataApi.marketSearch, must be smaller than or equal to 50.');
        }
        if (null !== $topK && $topK < 1) {
            throw new \InvalidArgumentException('invalid value for "$topK" when calling MarketDataApi.marketSearch, must be bigger than or equal to 1.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/market/search';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $query,
            'query', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $topK,
            'topK', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryLastTradePrice.
     *
     * Query Last Trade Price
     *
     * @param int $marketId Market ID. Must be &gt; 0 (required)
     *
     * @return ApiResponse<QueryLastTradePriceResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryLastTradePrice($marketId): ApiResponse
    {
        return $this->queryLastTradePriceWithHttpInfo($marketId);
    }

    /**
     * Operation queryLastTradePriceWithHttpInfo.
     *
     * Query Last Trade Price
     *
     * @param int $marketId Market ID. Must be &gt; 0 (required)
     *
     * @return ApiResponse<QueryLastTradePriceResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryLastTradePriceWithHttpInfo($marketId): ApiResponse
    {
        $request = $this->queryLastTradePriceRequest($marketId);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryLastTradePriceResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryLastTradePriceResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryLastTradePriceResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryLastTradePrice'.
     *
     * @param int $marketId Market ID. Must be &gt; 0 (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryLastTradePriceRequest($marketId)
    {
        $contentType = self::contentTypes['queryLastTradePrice'][0];

        // verify the required parameter 'marketId' is set
        if (null === $marketId || (is_array($marketId) && 0 === count($marketId))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $marketId when calling queryLastTradePrice'
            );
        }
        if ($marketId < 1) {
            throw new \InvalidArgumentException('invalid value for "$marketId" when calling MarketDataApi.queryLastTradePrice, must be bigger than or equal to 1.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/order-book/last-trade-price';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $marketId,
            'marketId', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryOrderBook.
     *
     * Query Order Book
     *
     * @param string $vendor   Vendor identifier (e.g. &#x60;predict_fun&#x60;) (required)
     * @param int    $marketId Market ID. Must be &gt; 0 (required)
     * @param string $tokenId  Prediction outcome token ID (required)
     *
     * @return ApiResponse<QueryOrderBookResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryOrderBook($vendor, $marketId, $tokenId): ApiResponse
    {
        return $this->queryOrderBookWithHttpInfo($vendor, $marketId, $tokenId);
    }

    /**
     * Operation queryOrderBookWithHttpInfo.
     *
     * Query Order Book
     *
     * @param string $vendor   Vendor identifier (e.g. &#x60;predict_fun&#x60;) (required)
     * @param int    $marketId Market ID. Must be &gt; 0 (required)
     * @param string $tokenId  Prediction outcome token ID (required)
     *
     * @return ApiResponse<QueryOrderBookResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryOrderBookWithHttpInfo($vendor, $marketId, $tokenId): ApiResponse
    {
        $request = $this->queryOrderBookRequest($vendor, $marketId, $tokenId);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryOrderBookResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryOrderBookResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryOrderBookResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryOrderBook'.
     *
     * @param string $vendor   Vendor identifier (e.g. &#x60;predict_fun&#x60;) (required)
     * @param int    $marketId Market ID. Must be &gt; 0 (required)
     * @param string $tokenId  Prediction outcome token ID (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryOrderBookRequest($vendor, $marketId, $tokenId)
    {
        $contentType = self::contentTypes['queryOrderBook'][0];

        // verify the required parameter 'vendor' is set
        if (null === $vendor || (is_array($vendor) && 0 === count($vendor))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $vendor when calling queryOrderBook'
            );
        }

        // verify the required parameter 'marketId' is set
        if (null === $marketId || (is_array($marketId) && 0 === count($marketId))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $marketId when calling queryOrderBook'
            );
        }
        if ($marketId < 1) {
            throw new \InvalidArgumentException('invalid value for "$marketId" when calling MarketDataApi.queryOrderBook, must be bigger than or equal to 1.');
        }

        // verify the required parameter 'tokenId' is set
        if (null === $tokenId || (is_array($tokenId) && 0 === count($tokenId))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $tokenId when calling queryOrderBook'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/order-book';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $vendor,
            'vendor', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $marketId,
            'marketId', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $tokenId,
            'tokenId', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Summary of getTimestamp.
     */
    public function getTimestamp(): string
    {
        return date_create()->format('Uv');
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): ApiResponse {
        if ('\SplFileObject' === $dataType) {
            $content = $response->getBody(); // stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ('string' !== $dataType) {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        $rateLimits = CommonUtils::getRateLimits($response->getStatusCode(), $response->getHeaders());

        return new ApiResponse(
            $response->getStatusCode(),
            $response->getHeaders(),
            ObjectSerializer::deserialize($content, $dataType, []),
            $rateLimits
        );
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
