<?php

/**
 * TradeApi
 * PHP version 8.1.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */

/**
 * Prediction Trading REST API.
 *
 * Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.22.0
 */
/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Binance\Client\W3WPrediction\Api;

use Binance\Client\W3WPrediction\Model\BatchCancelOrdersRequest;
use Binance\Client\W3WPrediction\Model\BatchCancelOrdersResponse;
use Binance\Client\W3WPrediction\Model\GetQuoteRequest;
use Binance\Client\W3WPrediction\Model\GetQuoteResponse;
use Binance\Client\W3WPrediction\Model\OrderType;
use Binance\Client\W3WPrediction\Model\PlaceOrderRequest;
use Binance\Client\W3WPrediction\Model\PlaceOrderResponse;
use Binance\Client\W3WPrediction\Model\QueryActiveOrdersResponse;
use Binance\Client\W3WPrediction\Model\QueryOrderHistoryResponse;
use Binance\Client\W3WPrediction\Model\TradeSide;
use Binance\Common\ApiException;
use Binance\Common\Auth\SignerFactory;
use Binance\Common\Auth\SignerInterface;
use Binance\Common\CommonUtils;
use Binance\Common\Configuration\ClientConfiguration;
use Binance\Common\Dtos\ApiResponse;
use Binance\Common\HeaderSelector;
use Binance\Common\HttpClient;
use Binance\Common\ObjectSerializer;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\Utils;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;

/**
 * TradeApi Class Doc Comment.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */
class TradeApi
{
    /** @var string[] */
    public const contentTypes = [
        'batchCancelOrders' => ['application/x-www-form-urlencoded'],
        'getQuote' => ['application/x-www-form-urlencoded'],
        'placeOrder' => ['application/x-www-form-urlencoded'],
        'queryActiveOrders' => ['application/x-www-form-urlencoded'],
        'queryOrderHistory' => ['application/x-www-form-urlencoded'],
    ];
    private const HAS_TIME_UNIT = false;

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * Summary of clientConfig.
     *
     * @var ClientConfiguration
     */
    protected $clientConfig;

    /**
     * Summary of signer.
     *
     * @var SignerInterface
     */
    protected $signer;

    /**
     * userAgent for HTTP requests.
     *
     * @var string
     */
    private $userAgent;

    public function __construct(
        ?ClientConfiguration $clientConfig = new ClientConfiguration(),
        ?ClientInterface $client = null,
        ?HeaderSelector $selector = null,
    ) {
        $this->clientConfig = $clientConfig;
        $this->client = $client ?: new HttpClient($clientConfig);
        $this->headerSelector = $selector ?: new HeaderSelector();
        if (!empty($clientConfig->getSignatureConfiguration())) {
            $this->signer = SignerFactory::getSigner($clientConfig->getSignatureConfiguration());
        }
        $this->userAgent = CommonUtils::getUserAgent('w3w-prediction');
    }

    /**
     * Operation batchCancelOrders.
     *
     * Batch Cancel Orders
     *
     * @param BatchCancelOrdersRequest $batchCancelOrdersRequest batchCancelOrdersRequest (required)
     *
     * @return ApiResponse<BatchCancelOrdersResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function batchCancelOrders($batchCancelOrdersRequest): ApiResponse
    {
        return $this->batchCancelOrdersWithHttpInfo($batchCancelOrdersRequest);
    }

    /**
     * Operation batchCancelOrdersWithHttpInfo.
     *
     * Batch Cancel Orders
     *
     * @param BatchCancelOrdersRequest $batchCancelOrdersRequest (required)
     *
     * @return ApiResponse<BatchCancelOrdersResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function batchCancelOrdersWithHttpInfo($batchCancelOrdersRequest): ApiResponse
    {
        $request = $this->batchCancelOrdersRequest($batchCancelOrdersRequest);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\BatchCancelOrdersResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\BatchCancelOrdersResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\BatchCancelOrdersResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'batchCancelOrders'.
     *
     * @param BatchCancelOrdersRequest $batchCancelOrdersRequest (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function batchCancelOrdersRequest($batchCancelOrdersRequest)
    {
        $contentType = self::contentTypes['batchCancelOrders'][0];

        // verify the required parameter 'batchCancelOrdersRequest' is set
        if (null === $batchCancelOrdersRequest || (is_array($batchCancelOrdersRequest) && 0 === count($batchCancelOrdersRequest))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $batchCancelOrdersRequest when calling batchCancelOrders'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/trade/batch-cancel';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $getters = $batchCancelOrdersRequest::getters();
        $formParams = [];
        foreach ($getters as $property => $getter) {
            $value = $batchCancelOrdersRequest->{$getter}();
            if (!empty($value)) {
                $formParams[$property] = $batchCancelOrdersRequest->{$getter}();
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem,
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        } elseif (isset($batchCancelOrdersRequest)) {
            if (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the body
                $httpBody = Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($batchCancelOrdersRequest));
            } else {
                $httpBody = $batchCancelOrdersRequest;
            }
        }

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'POST',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getQuote.
     *
     * Get Quote
     *
     * @param GetQuoteRequest $getQuoteRequest getQuoteRequest (required)
     *
     * @return ApiResponse<GetQuoteResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function getQuote($getQuoteRequest): ApiResponse
    {
        return $this->getQuoteWithHttpInfo($getQuoteRequest);
    }

    /**
     * Operation getQuoteWithHttpInfo.
     *
     * Get Quote
     *
     * @param GetQuoteRequest $getQuoteRequest (required)
     *
     * @return ApiResponse<GetQuoteResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function getQuoteWithHttpInfo($getQuoteRequest): ApiResponse
    {
        $request = $this->getQuoteRequest($getQuoteRequest);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\GetQuoteResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\GetQuoteResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\GetQuoteResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'getQuote'.
     *
     * @param GetQuoteRequest $getQuoteRequest (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function getQuoteRequest($getQuoteRequest)
    {
        $contentType = self::contentTypes['getQuote'][0];

        // verify the required parameter 'getQuoteRequest' is set
        if (null === $getQuoteRequest || (is_array($getQuoteRequest) && 0 === count($getQuoteRequest))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $getQuoteRequest when calling getQuote'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/trade/get-quote';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $getters = $getQuoteRequest::getters();
        $formParams = [];
        foreach ($getters as $property => $getter) {
            $value = $getQuoteRequest->{$getter}();
            if (!empty($value)) {
                $formParams[$property] = $getQuoteRequest->{$getter}();
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem,
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        } elseif (isset($getQuoteRequest)) {
            if (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the body
                $httpBody = Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($getQuoteRequest));
            } else {
                $httpBody = $getQuoteRequest;
            }
        }

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'POST',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation placeOrder.
     *
     * Place Order
     *
     * @param PlaceOrderRequest $placeOrderRequest placeOrderRequest (required)
     *
     * @return ApiResponse<PlaceOrderResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function placeOrder($placeOrderRequest): ApiResponse
    {
        return $this->placeOrderWithHttpInfo($placeOrderRequest);
    }

    /**
     * Operation placeOrderWithHttpInfo.
     *
     * Place Order
     *
     * @param PlaceOrderRequest $placeOrderRequest (required)
     *
     * @return ApiResponse<PlaceOrderResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function placeOrderWithHttpInfo($placeOrderRequest): ApiResponse
    {
        $request = $this->placeOrderRequest($placeOrderRequest);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\PlaceOrderResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\PlaceOrderResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\PlaceOrderResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'placeOrder'.
     *
     * @param PlaceOrderRequest $placeOrderRequest (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function placeOrderRequest($placeOrderRequest)
    {
        $contentType = self::contentTypes['placeOrder'][0];

        // verify the required parameter 'placeOrderRequest' is set
        if (null === $placeOrderRequest || (is_array($placeOrderRequest) && 0 === count($placeOrderRequest))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $placeOrderRequest when calling placeOrder'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/trade/place-order-bundle';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $getters = $placeOrderRequest::getters();
        $formParams = [];
        foreach ($getters as $property => $getter) {
            $value = $placeOrderRequest->{$getter}();
            if (!empty($value)) {
                $formParams[$property] = $placeOrderRequest->{$getter}();
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem,
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        } elseif (isset($placeOrderRequest)) {
            if (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the body
                $httpBody = Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($placeOrderRequest));
            } else {
                $httpBody = $placeOrderRequest;
            }
        }

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'POST',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryActiveOrders.
     *
     * Query Active Orders
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|TradeSide $tradeSide     Filter by trade side. Enum: &#x60;BUY&#x60;, &#x60;SELL&#x60; (optional)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|int       $marketId      Filter by market ID (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryActiveOrdersResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryActiveOrders($walletAddress, $tradeSide = null, $l1Category = null, $marketId = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        return $this->queryActiveOrdersWithHttpInfo($walletAddress, $tradeSide, $l1Category, $marketId, $offset, $limit, $recvWindow);
    }

    /**
     * Operation queryActiveOrdersWithHttpInfo.
     *
     * Query Active Orders
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|TradeSide $tradeSide     Filter by trade side. Enum: &#x60;BUY&#x60;, &#x60;SELL&#x60; (optional)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|int       $marketId      Filter by market ID (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryActiveOrdersResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryActiveOrdersWithHttpInfo($walletAddress, $tradeSide = null, $l1Category = null, $marketId = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        $request = $this->queryActiveOrdersRequest($walletAddress, $tradeSide, $l1Category, $marketId, $offset, $limit, $recvWindow);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryActiveOrdersResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryActiveOrdersResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryActiveOrdersResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryActiveOrders'.
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|TradeSide $tradeSide     Filter by trade side. Enum: &#x60;BUY&#x60;, &#x60;SELL&#x60; (optional)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|int       $marketId      Filter by market ID (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryActiveOrdersRequest($walletAddress, $tradeSide = null, $l1Category = null, $marketId = null, $offset = null, $limit = null, $recvWindow = null)
    {
        $contentType = self::contentTypes['queryActiveOrders'][0];

        // verify the required parameter 'walletAddress' is set
        if (null === $walletAddress || (is_array($walletAddress) && 0 === count($walletAddress))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $walletAddress when calling queryActiveOrders'
            );
        }

        if (null !== $offset && $offset < 0) {
            throw new \InvalidArgumentException('invalid value for "$offset" when calling TradeApi.queryActiveOrders, must be bigger than or equal to 0.');
        }

        if (null !== $limit && $limit > 100) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TradeApi.queryActiveOrders, must be smaller than or equal to 100.');
        }
        if (null !== $limit && $limit < 1) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TradeApi.queryActiveOrders, must be bigger than or equal to 1.');
        }

        if (null !== $recvWindow && $recvWindow > 60000) {
            throw new \InvalidArgumentException('invalid value for "$recvWindow" when calling TradeApi.queryActiveOrders, must be smaller than or equal to 60000.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/order/list';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $walletAddress,
            'walletAddress', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $tradeSide,
            'tradeSide', // param base name
            'TradeSide', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $l1Category,
            'l1Category', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $marketId,
            'marketId', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $offset,
            'offset', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $limit,
            'limit', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $recvWindow,
            'recvWindow', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryOrderHistory.
     *
     * Query Order History
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|OrderType $orderType     Filter by order type. Enum: &#x60;MARKET&#x60;, &#x60;LIMIT&#x60; (optional)
     * @param null|string    $status        Filter by order status (optional)
     * @param null|string    $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (optional)
     * @param null|string    $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryOrderHistoryResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryOrderHistory($walletAddress, $l1Category = null, $orderType = null, $status = null, $startDate = null, $endDate = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        return $this->queryOrderHistoryWithHttpInfo($walletAddress, $l1Category, $orderType, $status, $startDate, $endDate, $offset, $limit, $recvWindow);
    }

    /**
     * Operation queryOrderHistoryWithHttpInfo.
     *
     * Query Order History
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|OrderType $orderType     Filter by order type. Enum: &#x60;MARKET&#x60;, &#x60;LIMIT&#x60; (optional)
     * @param null|string    $status        Filter by order status (optional)
     * @param null|string    $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (optional)
     * @param null|string    $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryOrderHistoryResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryOrderHistoryWithHttpInfo($walletAddress, $l1Category = null, $orderType = null, $status = null, $startDate = null, $endDate = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        $request = $this->queryOrderHistoryRequest($walletAddress, $l1Category, $orderType, $status, $startDate, $endDate, $offset, $limit, $recvWindow);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryOrderHistoryResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryOrderHistoryResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryOrderHistoryResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryOrderHistory'.
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param null|string    $l1Category    Filter by level-1 category (optional)
     * @param null|OrderType $orderType     Filter by order type. Enum: &#x60;MARKET&#x60;, &#x60;LIMIT&#x60; (optional)
     * @param null|string    $status        Filter by order status (optional)
     * @param null|string    $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (optional)
     * @param null|string    $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryOrderHistoryRequest($walletAddress, $l1Category = null, $orderType = null, $status = null, $startDate = null, $endDate = null, $offset = null, $limit = null, $recvWindow = null)
    {
        $contentType = self::contentTypes['queryOrderHistory'][0];

        // verify the required parameter 'walletAddress' is set
        if (null === $walletAddress || (is_array($walletAddress) && 0 === count($walletAddress))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $walletAddress when calling queryOrderHistory'
            );
        }

        if (null !== $offset && $offset < 0) {
            throw new \InvalidArgumentException('invalid value for "$offset" when calling TradeApi.queryOrderHistory, must be bigger than or equal to 0.');
        }

        if (null !== $limit && $limit > 100) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TradeApi.queryOrderHistory, must be smaller than or equal to 100.');
        }
        if (null !== $limit && $limit < 1) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TradeApi.queryOrderHistory, must be bigger than or equal to 1.');
        }

        if (null !== $recvWindow && $recvWindow > 60000) {
            throw new \InvalidArgumentException('invalid value for "$recvWindow" when calling TradeApi.queryOrderHistory, must be smaller than or equal to 60000.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/order/history';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $walletAddress,
            'walletAddress', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $l1Category,
            'l1Category', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $orderType,
            'orderType', // param base name
            'OrderType', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $status,
            'status', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $startDate,
            'startDate', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $endDate,
            'endDate', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $offset,
            'offset', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $limit,
            'limit', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $recvWindow,
            'recvWindow', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Summary of getTimestamp.
     */
    public function getTimestamp(): string
    {
        return date_create()->format('Uv');
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): ApiResponse {
        if ('\SplFileObject' === $dataType) {
            $content = $response->getBody(); // stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ('string' !== $dataType) {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        $rateLimits = CommonUtils::getRateLimits($response->getStatusCode(), $response->getHeaders());

        return new ApiResponse(
            $response->getStatusCode(),
            $response->getHeaders(),
            ObjectSerializer::deserialize($content, $dataType, []),
            $rateLimits
        );
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
