<?php

/**
 * TransferApi
 * PHP version 8.1.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */

/**
 * Prediction Trading REST API.
 *
 * Place and manage prediction market orders, query positions, and transfer funds via the Prediction Trading REST API.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.22.0
 */
/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Binance\Client\W3WPrediction\Api;

use Binance\Client\W3WPrediction\Model\CreateInboundTransferRequest;
use Binance\Client\W3WPrediction\Model\CreateInboundTransferResponse;
use Binance\Client\W3WPrediction\Model\CreateOutboundTransferRequest;
use Binance\Client\W3WPrediction\Model\CreateOutboundTransferResponse;
use Binance\Client\W3WPrediction\Model\Direction;
use Binance\Client\W3WPrediction\Model\QueryTransferListResponse;
use Binance\Client\W3WPrediction\Model\QueryTransferStatusResponse;
use Binance\Common\ApiException;
use Binance\Common\Auth\SignerFactory;
use Binance\Common\Auth\SignerInterface;
use Binance\Common\CommonUtils;
use Binance\Common\Configuration\ClientConfiguration;
use Binance\Common\Dtos\ApiResponse;
use Binance\Common\HeaderSelector;
use Binance\Common\HttpClient;
use Binance\Common\ObjectSerializer;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\Utils;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;

/**
 * TransferApi Class Doc Comment.
 *
 * @category Class
 *
 * @author   OpenAPI Generator team
 *
 * @see     https://openapi-generator.tech
 */
class TransferApi
{
    /** @var string[] */
    public const contentTypes = [
        'createInboundTransfer' => ['application/x-www-form-urlencoded'],
        'createOutboundTransfer' => ['application/x-www-form-urlencoded'],
        'queryTransferList' => ['application/x-www-form-urlencoded'],
        'queryTransferStatus' => ['application/x-www-form-urlencoded'],
    ];
    private const HAS_TIME_UNIT = false;

    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * Summary of clientConfig.
     *
     * @var ClientConfiguration
     */
    protected $clientConfig;

    /**
     * Summary of signer.
     *
     * @var SignerInterface
     */
    protected $signer;

    /**
     * userAgent for HTTP requests.
     *
     * @var string
     */
    private $userAgent;

    public function __construct(
        ?ClientConfiguration $clientConfig = new ClientConfiguration(),
        ?ClientInterface $client = null,
        ?HeaderSelector $selector = null,
    ) {
        $this->clientConfig = $clientConfig;
        $this->client = $client ?: new HttpClient($clientConfig);
        $this->headerSelector = $selector ?: new HeaderSelector();
        if (!empty($clientConfig->getSignatureConfiguration())) {
            $this->signer = SignerFactory::getSigner($clientConfig->getSignatureConfiguration());
        }
        $this->userAgent = CommonUtils::getUserAgent('w3w-prediction');
    }

    /**
     * Operation createInboundTransfer.
     *
     * Create Inbound Transfer
     *
     * @param CreateInboundTransferRequest $createInboundTransferRequest createInboundTransferRequest (required)
     *
     * @return ApiResponse<CreateInboundTransferResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function createInboundTransfer($createInboundTransferRequest): ApiResponse
    {
        return $this->createInboundTransferWithHttpInfo($createInboundTransferRequest);
    }

    /**
     * Operation createInboundTransferWithHttpInfo.
     *
     * Create Inbound Transfer
     *
     * @param CreateInboundTransferRequest $createInboundTransferRequest (required)
     *
     * @return ApiResponse<CreateInboundTransferResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function createInboundTransferWithHttpInfo($createInboundTransferRequest): ApiResponse
    {
        $request = $this->createInboundTransferRequest($createInboundTransferRequest);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\CreateInboundTransferResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\CreateInboundTransferResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\CreateInboundTransferResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'createInboundTransfer'.
     *
     * @param CreateInboundTransferRequest $createInboundTransferRequest (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function createInboundTransferRequest($createInboundTransferRequest)
    {
        $contentType = self::contentTypes['createInboundTransfer'][0];

        // verify the required parameter 'createInboundTransferRequest' is set
        if (null === $createInboundTransferRequest || (is_array($createInboundTransferRequest) && 0 === count($createInboundTransferRequest))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $createInboundTransferRequest when calling createInboundTransfer'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/transfer/inbound';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $getters = $createInboundTransferRequest::getters();
        $formParams = [];
        foreach ($getters as $property => $getter) {
            $value = $createInboundTransferRequest->{$getter}();
            if (!empty($value)) {
                $formParams[$property] = $createInboundTransferRequest->{$getter}();
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem,
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        } elseif (isset($createInboundTransferRequest)) {
            if (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the body
                $httpBody = Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($createInboundTransferRequest));
            } else {
                $httpBody = $createInboundTransferRequest;
            }
        }

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'POST',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation createOutboundTransfer.
     *
     * Create Outbound Transfer
     *
     * @param CreateOutboundTransferRequest $createOutboundTransferRequest createOutboundTransferRequest (required)
     *
     * @return ApiResponse<CreateOutboundTransferResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function createOutboundTransfer($createOutboundTransferRequest): ApiResponse
    {
        return $this->createOutboundTransferWithHttpInfo($createOutboundTransferRequest);
    }

    /**
     * Operation createOutboundTransferWithHttpInfo.
     *
     * Create Outbound Transfer
     *
     * @param CreateOutboundTransferRequest $createOutboundTransferRequest (required)
     *
     * @return ApiResponse<CreateOutboundTransferResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function createOutboundTransferWithHttpInfo($createOutboundTransferRequest): ApiResponse
    {
        $request = $this->createOutboundTransferRequest($createOutboundTransferRequest);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\CreateOutboundTransferResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\CreateOutboundTransferResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\CreateOutboundTransferResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'createOutboundTransfer'.
     *
     * @param CreateOutboundTransferRequest $createOutboundTransferRequest (required)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function createOutboundTransferRequest($createOutboundTransferRequest)
    {
        $contentType = self::contentTypes['createOutboundTransfer'][0];

        // verify the required parameter 'createOutboundTransferRequest' is set
        if (null === $createOutboundTransferRequest || (is_array($createOutboundTransferRequest) && 0 === count($createOutboundTransferRequest))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $createOutboundTransferRequest when calling createOutboundTransfer'
            );
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/transfer/outbound';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        $getters = $createOutboundTransferRequest::getters();
        $formParams = [];
        foreach ($getters as $property => $getter) {
            $value = $createOutboundTransferRequest->{$getter}();
            if (!empty($value)) {
                $formParams[$property] = $createOutboundTransferRequest->{$getter}();
            }
        }

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem,
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);
            } elseif (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        } elseif (isset($createOutboundTransferRequest)) {
            if (false !== stripos($headers['Content-Type'], 'application/json')) {
                // if Content-Type contains "application/json", json_encode the body
                $httpBody = Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($createOutboundTransferRequest));
            } else {
                $httpBody = $createOutboundTransferRequest;
            }
        }

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'POST',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryTransferList.
     *
     * Query Transfer List
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param string         $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (required)
     * @param string         $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (required)
     * @param null|string    $tokenSymbol   Filter by token symbol (e.g. &#x60;USDT&#x60;) (optional)
     * @param null|Direction $direction     Filter by direction. Enum: &#x60;INBOUND&#x60;, &#x60;OUTBOUND&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryTransferListResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryTransferList($walletAddress, $startDate, $endDate, $tokenSymbol = null, $direction = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        return $this->queryTransferListWithHttpInfo($walletAddress, $startDate, $endDate, $tokenSymbol, $direction, $offset, $limit, $recvWindow);
    }

    /**
     * Operation queryTransferListWithHttpInfo.
     *
     * Query Transfer List
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param string         $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (required)
     * @param string         $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (required)
     * @param null|string    $tokenSymbol   Filter by token symbol (e.g. &#x60;USDT&#x60;) (optional)
     * @param null|Direction $direction     Filter by direction. Enum: &#x60;INBOUND&#x60;, &#x60;OUTBOUND&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryTransferListResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryTransferListWithHttpInfo($walletAddress, $startDate, $endDate, $tokenSymbol = null, $direction = null, $offset = null, $limit = null, $recvWindow = null): ApiResponse
    {
        $request = $this->queryTransferListRequest($walletAddress, $startDate, $endDate, $tokenSymbol, $direction, $offset, $limit, $recvWindow);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryTransferListResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryTransferListResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryTransferListResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryTransferList'.
     *
     * @param string         $walletAddress User&#39;s prediction wallet address (required)
     * @param string         $startDate     Start date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≤ &#x60;endDate&#x60; (required)
     * @param string         $endDate       End date. Format: &#x60;yyyy-MM-dd&#x60;. Must be ≥ &#x60;startDate&#x60; (required)
     * @param null|string    $tokenSymbol   Filter by token symbol (e.g. &#x60;USDT&#x60;) (optional)
     * @param null|Direction $direction     Filter by direction. Enum: &#x60;INBOUND&#x60;, &#x60;OUTBOUND&#x60; (optional)
     * @param null|int       $offset        Pagination offset. Default &#x60;0&#x60; (optional)
     * @param null|int       $limit         Page size. Default &#x60;20&#x60;, range 1–100 (optional)
     * @param null|int       $recvWindow    Request validity window in milliseconds (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryTransferListRequest($walletAddress, $startDate, $endDate, $tokenSymbol = null, $direction = null, $offset = null, $limit = null, $recvWindow = null)
    {
        $contentType = self::contentTypes['queryTransferList'][0];

        // verify the required parameter 'walletAddress' is set
        if (null === $walletAddress || (is_array($walletAddress) && 0 === count($walletAddress))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $walletAddress when calling queryTransferList'
            );
        }

        // verify the required parameter 'startDate' is set
        if (null === $startDate || (is_array($startDate) && 0 === count($startDate))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $startDate when calling queryTransferList'
            );
        }

        // verify the required parameter 'endDate' is set
        if (null === $endDate || (is_array($endDate) && 0 === count($endDate))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $endDate when calling queryTransferList'
            );
        }

        if (null !== $offset && $offset < 0) {
            throw new \InvalidArgumentException('invalid value for "$offset" when calling TransferApi.queryTransferList, must be bigger than or equal to 0.');
        }

        if (null !== $limit && $limit > 100) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TransferApi.queryTransferList, must be smaller than or equal to 100.');
        }
        if (null !== $limit && $limit < 1) {
            throw new \InvalidArgumentException('invalid value for "$limit" when calling TransferApi.queryTransferList, must be bigger than or equal to 1.');
        }

        if (null !== $recvWindow && $recvWindow > 60000) {
            throw new \InvalidArgumentException('invalid value for "$recvWindow" when calling TransferApi.queryTransferList, must be smaller than or equal to 60000.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/transfer/list';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $walletAddress,
            'walletAddress', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $startDate,
            'startDate', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $endDate,
            'endDate', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $tokenSymbol,
            'tokenSymbol', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $direction,
            'direction', // param base name
            'Direction', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $offset,
            'offset', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $limit,
            'limit', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $recvWindow,
            'recvWindow', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation queryTransferStatus.
     *
     * Query Transfer Status
     *
     * @param string   $transferId Transfer ID returned from outbound/inbound transfer (required)
     * @param null|int $recvWindow Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryTransferStatusResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryTransferStatus($transferId, $recvWindow = null): ApiResponse
    {
        return $this->queryTransferStatusWithHttpInfo($transferId, $recvWindow);
    }

    /**
     * Operation queryTransferStatusWithHttpInfo.
     *
     * Query Transfer Status
     *
     * @param string   $transferId Transfer ID returned from outbound/inbound transfer (required)
     * @param null|int $recvWindow Request validity window in milliseconds (optional)
     *
     * @return ApiResponse<QueryTransferStatusResponse>
     *
     * @throws ApiException              on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     */
    public function queryTransferStatusWithHttpInfo($transferId, $recvWindow = null): ApiResponse
    {
        $request = $this->queryTransferStatusRequest($transferId, $recvWindow);

        try {
            try {
                $response = $this->client->send($request, []);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch ($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Binance\Client\W3WPrediction\Model\QueryTransferStatusResponse',
                        $request,
                        $response,
                    );
            }

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Binance\Client\W3WPrediction\Model\QueryTransferStatusResponse',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Binance\Client\W3WPrediction\Model\QueryTransferStatusResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);

                    throw $e;
            }

            throw $e;
        }
    }

    /**
     * Create request for operation 'queryTransferStatus'.
     *
     * @param string   $transferId Transfer ID returned from outbound/inbound transfer (required)
     * @param null|int $recvWindow Request validity window in milliseconds (optional)
     *
     * @return Request
     *
     * @throws \InvalidArgumentException
     */
    public function queryTransferStatusRequest($transferId, $recvWindow = null)
    {
        $contentType = self::contentTypes['queryTransferStatus'][0];

        // verify the required parameter 'transferId' is set
        if (null === $transferId || (is_array($transferId) && 0 === count($transferId))) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $transferId when calling queryTransferStatus'
            );
        }

        if (null !== $recvWindow && $recvWindow > 60000) {
            throw new \InvalidArgumentException('invalid value for "$recvWindow" when calling TransferApi.queryTransferStatus, must be smaller than or equal to 60000.');
        }

        $resourcePath = '/sapi/v1/w3w/wallet/prediction/transfer/status';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $transferId,
            'transferId', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            true // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $recvWindow,
            'recvWindow', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);

        $headers = $this->headerSelector->selectHeaders(
            ['application/json'],
            $contentType,
            $multipart
        );

        $defaultHeaders = [];
        $defaultHeaders['User-Agent'] = $this->userAgent;

        if (self::HAS_TIME_UNIT && !empty($this->clientConfig->getTimeUnit())) {
            $defaultHeaders['X-MBX-TIME-UNIT'] = $this->clientConfig->getTimeUnit();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->clientConfig->getUrl();

        $queryParams['timestamp'] = $this->getTimestamp();
        $query = ObjectSerializer::buildQuery($queryParams);
        $queryParams['signature'] = $this->signer->sign($query.$httpBody);
        $headers['X-MBX-APIKEY'] = $this->clientConfig->getSignatureConfiguration()->getApiKey();
        $query = ObjectSerializer::buildQuery($queryParams);

        return new Request(
            'GET',
            $operationHost.$resourcePath.($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Summary of getTimestamp.
     */
    public function getTimestamp(): string
    {
        return date_create()->format('Uv');
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): ApiResponse {
        if ('\SplFileObject' === $dataType) {
            $content = $response->getBody(); // stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ('string' !== $dataType) {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        $rateLimits = CommonUtils::getRateLimits($response->getStatusCode(), $response->getHeaders());

        return new ApiResponse(
            $response->getStatusCode(),
            $response->getHeaders(),
            ObjectSerializer::deserialize($content, $dataType, []),
            $rateLimits
        );
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
